.course-layout {
  display: flex;
  height: calc(100vh - 60px);
  
}

/* LEFT SIDEBAR */
.lesson-sidebar {
  width: 320px;
  background: #fafafa;
  border-right: 1px solid #e5e5e5;
  padding: 15px;
  overflow-y: auto;
}

.sidebar-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.lesson-row {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.lesson-row:hover {
  background: #eee;
}

.lesson-row.active {
  background: #f4f2ff;
  border-left: 4px solid #5624d0;
}

.lesson-index {
  min-width: 20px;
  font-weight: 600;
}

.lesson-row.locked {
  opacity: 0.5;
  cursor: not-allowed;
  background: #f5f5f5;
}

.lock-badge {
  margin-left: auto;
  font-size: 16px;
}



/* RIGHT VIDEO */
.video-area {
  flex: 1;
  padding: 20px;
}

.video-area iframe {
  width: 100%;
  height: 500px;
  border-radius: 12px;
}

.video-title {
  margin-top: 15px;
  font-size: 22px;
  font-weight: 700;
}

/* BACK BUTTON */
.back-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #5624d0;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
}
.complete-btn {
  margin-top: 15px;
  background: #22c55e;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
}
