/* Full screen background */
.login-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0b1523, #0d1b2a);
}

/* White card */
.login-card {
  width: 450px;
  padding: 40px;
  background: #ffffff;
  border-radius: 20px;
  border: 3px solid #38e6b7;
  box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.login-card:hover {
  border-color: rgba(59, 130, 246, 0.8) !important;
  box-shadow: 0 20px 60px rgba(59, 130, 246, 0.3) !important;
}

/* Title */
.login-card h2 {
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 700;
  color: #152c55;
}

/* Input fields */
.login-card input,
.login-card select {
  width: 100%;
  padding: 14px;
  margin-bottom: 20px;
  border: 1px solid #e2e8f0;
  border-radius: 10px;
  font-size: 15px;
  background: #f1f5f9;
  outline: none;
}

/* Submit button */
.submit-btn {
  width: 100%;
  padding: 14px;
  background: #3f88ff;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  opacity: 0.9;
}
